<h2>This is footer component</h2>
<ul>
    <li><a href="https://www.justdial.com/cms/career-opportunities" title="We're hiring">We're hiring</a></li>
    <li><a href="https://www.justdial.com/cms/customer-care" title="Customer care">Customer care</a></li>
    <li><a href="https://www.justdial.com/Free-Listing" title="Free Listing">Free Listing</a></li>
    <li><a href="https://www.justdial.com/Advertise" title="Advertise">Advertise</a></li>
    <li><a href="https://www.justdial.com/cms/overview" onclick="_ct('ftabtus','');" title="About us">About us</a></li>
    <li><a href="https://www.justdial.com/cms/media" onclick="_ct('ftprs','');" title="Media">Media</a></li>
    <li><a href="https://www.justdial.com/cms/justdial-testimonials" onclick="_ct('jdtest','');"
            title="Testimonial">Testimonials</a></li>
    <li><a href="https://www.justdial.com/cms/feedback" onclick="_ct('lnkfeedback','');" title="Feedback">Feedback</a>
    </li>
</ul>