.holder {
    border: springgreen solid 2px;
    // width: 500px;
    padding: 20px;
    margin: auto 0;
    // text-align: center;

    margin-left: 25%;
    margin-top: 2%;
    // margin-right:25%;
    width: 50%;
}

.has-danger {
    border: 2px solid red;
}

.has-success {
    border: 2px solid green;
}